@model OA_Data.Grade

@{
    ViewData["Title"] = "UpdateStudent";
}


<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateGrade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaLop" class="control-label"></label>
                <input asp-for="MaLop" class="form-control" />
                <span asp-validation-for="MaLop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLop" class="control-label"></label>
                <input asp-for="TenLop" class="form-control" />
                <span asp-validation-for="TenLop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiSo" class="control-label"></label>
                <input asp-for="SiSo" class="form-control" />
                <span asp-validation-for="SiSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
